#campoLinhas {
    background-image: url(../images/svg/campoLinhas.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#bolaFogo {
    background-image: url(../images/svg/bolaFogo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#jogadores {
    background-image: url(../images/svg/jogadores.svg);
    background-repeat: no-repeat;
    background-position: center;
}