:root {
    --verdeProjeto: #04471C;
    --verdeProjetoClaro: #055a23;
    --Ash: #ACBFA4;
    --Beige: #E2E8CE;
    --Orange: #FF7F11;
    --Red: #FF1B1C;

}

strong {
    text-transform: uppercase;
}

#loginRegisterButton {
    background-color: #40798C;
    border: 0px;
    border-radius: 15px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 9rem;
    height: 2.5rem;
}

#loginRegisterButton:hover {
    background-color: #408da7;
}

#campoLinhas {
    background-image: url(../images/svg/campoLinhas.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#bolaFogo {
    background-image: url(../images/svg/bolaFogo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#jogadores {
    background-image: url(../images/svg/jogadores.svg);
    background-repeat: no-repeat;
    background-position: center;
}